.debug header{
    background-color: red;
}

.debug .rounded{
    background-color: red;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.debug .section-first, .debug .section-third{
    background-color: green;
}

.debug footer .col-12{
    background-color: red;
    height: 200px;
}

.debug footer{
    background-color: darkblue;
}

.debug .footer-copyright{
    background-color: black;
}

@media all and (min-width: 992px) {
    .image-grid{
        width: 50%;
    }

    .text-third{
        width: 50%;
    }

    .footer-text{
        width: calc(100% / 4);
        margin: auto;
    }
    
    footer .footer-container{
        display: flex;
        padding: 0;
    }
}

@media all and (min-width: 1400px) {
    .image-grid{
        width: calc(100% / 3);
    }
}