.debug header{
    background-color: red;
}

.debug .rounded{
    background-color: red;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.debug .section-first, .debug .section-third{
    background-color: green;
}

.debug footer .box{
    background-color: red;
    height: 200px;
    width: 200px;
}

.debug footer{
    background-color: darkblue;
}

.debug .footer-copyright{
    background-color: black;
}

